<header class="my-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link{% if threadpage %} active{% endif %}" href="/threadpage/">threadpage.html</a></li>
        <li class="nav-item"><a class="nav-link{% if homepage %} active{% endif %}" href="/">homepage.html</a></li>
        <li class="nav-item"><a class="nav-link{% if threadcreate %} active{% endif %}" href="/threadcreate/">threadcreate.html</a></li>
        <li class="nav-item"><a class="nav-link{% if userlogin %} active{% endif %}" href="/userlogin/">userlogin.html</a></li>
        <li class="nav-item"><a class="nav-link{% if userpage %} active{% endif %}" href="/userpage/">userpage.html</a></li>
    </ul>
</header>