<!-- スレッド閲覧ページ -->
{%- extends "base.html" %}
{%- block content %}
			<div class="pt-3 pb-4">
				<!-- コメント内容のフォームと匿名希望かのチェックボックスを解説 -->
				{% set cnt = [1] %}
				{% for comment_info in comment_info_all %}
					<div>
             			<p>No.{{ cnt[0] }} Name:{{comment_info.Nickname}} ID:{{comment_info.UserID}}</p>
						<p>{{comment_info.Comment_Content}}</p>
						<p>{{comment_info.Comment_Create_Date}}</p>
						{% set _ = cnt.append(cnt[0] + 1) %}
						{% set _ = cnt.pop(0) %}
					</div>
        		{% endfor %}

				<p>{{ title }}が読み込まれています。</p>				
				<form action="" method="POST">
					<label for="Nickname">名前</label>
					<input type="text" name="Nickname">
					<label for="Comment_Content">コメント</label>
					<input type="text" name="Comment_Content">
					<label for="UserID">UserID</label>
					<input type="text" name="UserID">
					<label for="ThreadID">ThreadID</label>
					<input type="text" name="ThreadID">
					<input type="submit" value="投稿">
				  </form>
			</div>
{%- endblock %}