<!-- スレッド作成画面 -->
{%- extends "base.html" %}
{%- block content %}
			<!-- スレッド名、説明をthread_infoに入力 -->

			<div class="pt-3 pb-4">
				<p>{{ title }}が読み込まれています。</p>				
				<form action="" method="POST">
				  <label for="Thread_Name">スレ名</label>
				  <input type="text" name="Thread_Name">
				  <label for="Thread_Content">このスレについて</label>
				  <input type="text" name="Thread_Content">
				  <label for="UserID">UserID</label>
				  <input type="text" name="UserID">
				  <input type="submit" value="作成">
				</form>
			</div>
{%- endblock %}